  
  .client-icons {
    font-size: 48px;
    color: #4285f4;
  }
  
  .client-count {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .client-other-info {
    font-size: 18px;
    color: #777;
  }
 
  